*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
    background-color: black;
}

.container_outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_mid{
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inner{
    width: 400px;
    height: 400px;
    background-color: white;
}

form *{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input {
    margin: 20px 0;
}

input[type=text], input[type=password], input[type=submit]{
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

input[type=submit]{
    background-color: #EBC22F;
    border: none;
}
input[type=submit]:hover{
    cursor: pointer;
}

h1{
    margin: 10px 80px 40px 80px;
    font-size: 60px;
    font-family: "zeyada", sans-serif;
    color: #EBC22F;
}